<div class="jumbotron text-center">
        <h1>Recherche Impaye d'un client</h1>
        <form class="form-login" >
            <h2 class="form-login-heading">Saisir l'indentifiant du client</h2>
            <div class="login-wrap">
                <input type="text" ng-model="id" class="form-control" placeholder="identifiant" autofocus>
                <br>
                <button class="btn btn-theme btn-block" type="submit" ng-click="rechercher()"><i class="fa fa-lock"></i> Rechercher</button>
               

                

            </div>

        </form>	  	

    </div>


</div>